@model IEnumerable<BlueTooth.ViewModels.RadnikCreateViewModel>
@{
    ViewData["Title"] = "OtpusteniRadnici";
    Layout = "~/Views/_Layout.cshtml";
}



    <div class="d-container" style="width:70%; margin-left:auto; margin-right:auto;">
        <h1>Prikaz otpuštenih radnika</h1>
        <a asp-action="Index" asp-controller="Osoblje" class="btn btn-primary">Povratak</a>

        <br /><br />
        <table id="otpusteniRadnici" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ime Prezime</th>
                    <th scope="col">Kvalifikacija</th>
                    <th scope="col">Akcija</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    int j = i + 1;
                    <tr>
                        <th scope="col">@j</th>
                        <th scope="col">@Model.ElementAt(i).Email</th>
                        <th scope="col">@Model.ElementAt(i).FirstName  @Model.ElementAt(i).LastName</th>
                        <th scope="col">@Model.ElementAt(i).Qualification</th>
                        <th scope="col"><a asp-action="Detalji" asp-controller="Osoblje" asp-route-workerId="@Model.ElementAt(i).Id" class="btn btn-success" style="text-align:center;">Detaljnije</a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
@section scripts{
    <script src="~/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $("#otpusteniRadnici").DataTable();
        });
    </script>
}


